body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: fantasy;
}

#main-container {
    max-width: 1000px;
    height: 100vh;
    display: flex;
    margin: auto;
    justify-content: center;
    background-image: url(/img/football-142952_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#main-container.no-background {
    background-image: none;
}

#menu {
    justify-content: center;
    zoom: 2;
    margin-top: 40px;
    margin: auto;
}

#menu h1 {
    font-weight: lighter;
    text-align: center;
    font-size: 50px; 
    color: #FFFFFF;
    background-color: #1111bb;
    border-radius: 10px;
}

span img {
    width: 40px;
}

button {
    font-weight: bold;
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 5px;
    background-color: #1111bb;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 0px #0000005d;
}

button:hover {
    background-color: #2222e0;   
    border: none;
    cursor: pointer;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

#placarJogo {
    display: flex;
    margin: auto;
    justify-content: center;
}

#leftPla {
    text-align: center;
    width: 100PX;
    background-color: white;
    font-size: 30px;
}

#rightPla {
    text-align: center;
    color: #ffffff;
    width: 100px;
    background-color: #2222e0;
    font-size: 30px;    
}


#backButton {
    margin-top: 20px;
    width: 50px;
}


#dvPainel{
    display: flex;
    height: 50px;
    align-items: center;
}

.itemPainel{
    margin: auto;
    color: white;
}


#dvJogo{    
    margin: auto;
    width: 960px;
    height: 450px;
    border-radius: 20px;
    border: 2px solid #ffffff;
    background-image: url(/img/gramado.jpg);
    position: relative;
}

#center-camp {
    margin: auto;
    width: 7px;
    height: 450px;
    background-color: white;
}

#dvBola{
    background-image: url(/img/futebol.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 230px;
    left: 465px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}




.barra{
    position: absolute;
    width: 20px;
    height: 140px;
    background-color: white;
    top: 180px;
}


.esquerda{
    left: 10px;
    border-radius: 30px;
}


.direita{
    background-color: #2222e0;
    left: 930px;
    border-radius: 30px;
}

