body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #432061;
    font-family: fantasy;
}

#main-container {
    max-width: 1000px;
    height: 100vh;
    display: flex;
    margin: auto;
    justify-content: center;
    background-image: url(/img/fundo-start.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#main-container.no-background {
    background-image: none;
}

#menu {
    justify-content: center;
    zoom: 2;
    margin-top: 60px;
    margin-right: 80px;
}

#menu h1 {
    font-weight: lighter;
    color: #5a377a;
    padding: 2px; 
}

button {
    display: block;
    margin: auto;
    margin-top: 1.5px;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 0px #0000005d;
}

button:hover {
    background-color: #c8b4db;   
    border: none;
    cursor: pointer;
}

.section {
    display: none;
}

.section.active {
    display: block;
}


#backButton {
    margin-bottom: 20px;
    margin-top: 20px;
}


#dvPainel{
    display: flex;
    height: 50px;
    align-items: center;
}

.itemPainel{
    margin: auto;
    color: white;
}


#dvJogo{
    margin: auto;
    width: 960px;
    height: 450px;
    border: 1px solid #ffffff;
    background-color: #000;
    position: relative;
}

#center-camp {
    margin: auto;
    width: 10px;
    height: 450px;
    background-color: white;
}

#dvBola{
    position: absolute;
    top: 240px;
    left: 475px;
    width: 30px;
    height: 30px;
    background-color: #01eeee;
    border-radius: 20px;
}


.barra{
    position: absolute;
    width: 20px;
    height: 140px;
    background-color: white;
    top: 180px;
}


.esquerda{
    left: 0;
}


.direita{
    left: 940px;
}

